<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список постов</title>
</head>
<body>
<h1>Список постов</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>название</th>
        <th>картинка</th>
        <th>превью поста</th>
        <th>количество комментариев к посту</th>
        <th>количество лайков к посту</th>
        <th>теги поста</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.image}"></td>
        <td th:text="${post.text}"></td>
        <td th:text="${post.count_comments}"></td>
        <td th:text="${post.count_likes}"></td>
        <td th:text="${post.tags}"></td>
        <td>
            <form th:action="@{/posts/{id}}" method="get">
                <button type="submit">Посмотреть пост</button>
            </form>
        </td>
        <td>
            <form th:action="@{/posts/{id}/delete(id=${post.id})}" method="post">
                <button type="submit">Удалить пост</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/posts}">Добавить новый пост</a>
</body>
</html>
